@import "../../../styles/variables";

.message__wrapper {
   display: inline-block;
   max-width: 75%;
   margin-right: auto;
   margin-bottom: 10px;
   margin-left: 0;
   padding: 15px;
   padding-bottom: 8px;
   background-color: $light;
   border-radius: 0 15px 15px 15px;
}
.message__content {
   display: flex;
   flex-flow: column nowrap;
}
.message_text {
   color: $text-grey;
   font-size: 13px;
   line-height: 20px;
}
.message__time {
   display: block;
   margin-top: 5px;
   color: $info;
   font-size: 11px;
   text-align: right;
}

img.message_file {
   max-height: 350px;
   background-color: #fff;
}
