@import "../../../styles/variables";

.input_group {
   display: flex;
   flex-flow: column nowrap;
   margin-bottom: 20px;

   label {
      margin-bottom: 3px;
      color: $primary;
      font-weight: bold;
      font-size: 15px;
   }

   input {
      flex-grow: 1;
   }
}
