@import "/../styles/variables.scss";

.chat_placeholder{
    display: inline-block;
    color: $text-secondary;
    margin: auto auto;
}

.messager__wrapper {
    padding-right: 50px;
    padding-left: 50px;
}

.messager_scrollable {
    left: 330px;
    position: fixed;
    top: 0;
    bottom: 75px;
    right: 0;
    overflow-y: hidden;


    &:hover {
        // width: calc(100% - 330px);
        z-index: 3999;
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 75px;
        right: 0;
    }
}


.messager__menu {
    // background-color: $backgraund_main;
    background-color: transparent;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 330px;
}
