@import "../../../styles/variables";

.info__title {
   margin-top: 0;
   margin-bottom: 2px;
}

.info__displayname {
   margin: 5px 0;
   color: $text-grey;
   font-weight: 600;
   font-size: 13px;
   font-style: normal;
}

.chat__users {
   display: flex;
   flex-grow: 1;
   flex-flow: column;
}

.chat_info__loader {
   align-self: center;
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s ease-out;

   &.show {
      visibility: visible;
      opacity: 1;
   }
}
