@import "/styles/_variables.scss";

.input_group {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;

    label {
        color: $primary;
        font-weight: bold;
        margin-bottom: 3px;
        font-size: 15px;
    }

    input {
        flex-grow: 1;
    }
}
