@import "/styles/_variables.scss";

.input_group {
    display: flex;
    // flex-flow: row nowrap;
    flex-flow: column nowrap;
    // align-items: center;

    margin-bottom: 20px;

    label {
        color: $primary;
        font-weight: bold;
        margin-bottom: 3px;
        font-size: 15px;
        // margin-right: 10px;
    }

    input {
        flex-grow: 1;
    }
}
