@import "./variables.scss";

.left_sidebar {
   position: absolute;
   top: 0;
   left: 0;
   flex-direction: column;
   width: 330px !important;
}

.account__wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 310px;
   padding: 5px 10px 5px 10px;
   background-color: #e3f6fc;
   border-radius: 0 0 20px 0;
}

.chats__wrapper {
   flex-direction: column;
   align-content: stretch;
   margin-top: 10px;
   background-color: #e3f6fc;
   border-radius: 0 20px 0 0;
}

.chats_scrollable {
   position: fixed;
   top: 80px;
   bottom: 75px;
   left: 0;
   flex: 1;
   width: 330px;
   min-height: 50px;
   overflow-y: hidden;
}
.chats_scrollable:hover {
   position: fixed;
   top: 320;
   bottom: 75px;
   left: 0;
   z-index: 3999;
   overflow-y: auto;
}

.scroll_style::-webkit-scrollbar-track {
   background-color: transparent;
   border-radius: 10px;
}

.scroll_style::-webkit-scrollbar {
   width: 6px;
   background-color: transparent;
}

.scroll_style::-webkit-scrollbar-thumb {
   background-color: #b5c2ce;
   border-radius: 10px;
}

.chats {
   flex-direction: column;
   padding: 0 10px;
}

.chats__user {
   padding: 10px;
}

.chats__menu {
   position: fixed;
   bottom: 0;
   width: 310px;
   padding: 0 10px;
   background-color: #e3f6fc;
   border-top: 1px solid #b5c2ce;
}
img.user__avatar {
   width: 44px;
   height: 44px;
   background-color: #fff;
   border: 3px solid;
   border-radius: 50%;
}
.account__user {
   padding: 10px;
}
.account__user:hover {
   background-color: #e3f6fc !important;
   transform: translate(0) !important;
   cursor: default;
}

.user__wrapper {
   display: flex;
   flex-flow: row nowrap;
   padding: 10px 10px;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.5s ease-out, transform 0.5s ease-out;
}
.user__wrapper:first {
   margin-top: 0;
}
.user__wrapper:hover {
   background-color: #d7ecf9;
   transform: translate(5px);
}

.user__active {
   background-color: #6588de;
   box-shadow: 3px 3px 10px 2px rgba(101, 136, 222, 0.51);
   cursor: default;
}
.user__active:hover {
   background-color: #6588de;
   box-shadow: 3px 3px 10px 2px rgba(101, 136, 222, 0.51);
   transform: translate(0);
}
.user__active .user__displayname,
.user__active .user__last_message,
.user__active .last_message_date {
   color: #fff !important;
}

.user__info {
   display: flex;
   flex: 1;
   flex-flow: column;
   max-width: 150px;
   margin-left: 10px;
}

.user__displayname {
   flex: 1;
   padding-top: 5px;
   color: #52585d;
   font-weight: 600;
   font-size: 13px;
   font-style: normal;
}

.user__last_message {
   flex: 1;
   overflow: hidden;
   color: #96a9ba;
   font-weight: 300;
   font-size: 11px;
   line-height: 15px;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.user__actions {
   display: flex;
   flex: 1;
   flex-direction: column;
   width: 60px;
   text-align: right;
}

.last_message_date {
   margin-top: auto;
   margin-bottom: auto;
   color: #96a9ba;
   font-weight: 300;
   font-size: 9px;
   line-height: 15px;
}
.button {
   padding: 10px 20px;
   border: none;
   border-radius: 12px;
   outline: none;
   cursor: pointer;
}

.button__user_settings {
   width: 25px;
   height: 25px;
   margin-left: auto;
   padding: 3px 15px;
   color: #6588de;
   background-color: transparent;
   border-radius: 10px;
}

.button__attach {
   padding-right: 5px;
   color: #6588de;
   background-color: transparent;
}

.button__submit {
   padding: 0 30px;
   color: #fff !important;
   font-weight: 700;
   font-size: 13px;
   background-color: #6588de;
}
.counter {
   padding: 2px 7px;
   color: #fff !important;
   font-weight: 600;
   font-size: 11px;
   line-height: 13px;
   background-color: #6588de;
   border-radius: 8px;
}

.unread_messages_counter {
   margin-top: auto;
   margin-left: auto;
   color: #fff !important;
   background-color: #6588de;
}
.unread_messages_counter.is_null {
   display: none;
}
.search__wrapper {
   display: flex;
   flex-direction: row;
   align-content: center;
   padding: 20px;
}
.input {
   height: 30px;
   padding: 0 15px;
   color: #52585d;
   background-color: rgba(#fff, 0.7);
   border: 1px solid $info;
   border-radius: 12px;
   outline: none;
}

.input__search_chats {
   flex-grow: 1;
   align-self: stretch;
   margin: 20px, 10px !important;
   text-align: center;
}

.chat_placeholder {
   display: inline-block;
   margin: auto auto;
   color: #96a9ba;
}

.block_foreign .user__avatar {
   margin-right: 5px;
}

.block_own .block__username {
   text-align: right;
}
.block_own .block__user_messages {
   flex-direction: row-reverse;
}
.block_own .user__avatar {
   margin-left: 5px;
}
.block_own .block__messages {
   flex-direction: column-reverse;
}
.block_own .message__wrapper {
   margin-right: 0;
   margin-left: auto;
   background-color: #f3ba4a !important;
   border-radius: 15px 0 15px 15px;
}
.block_own .message_text {
   color: #fff !important;
}
.block_own .message__time {
   color: #fff !important;
}

.block__username {
   display: inline-block;
   width: 100%;
   margin-bottom: 5px;
   color: #52585d;
   font-weight: 600;
   font-size: 13px;
   font-style: normal;
}

.block__user_messages {
   display: flex;
   flex-direction: row;
}

.block__messages {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   flex-wrap: nowrap;
}

.message__wrapper {
   display: inline-block;
   max-width: 75%;
   margin-right: auto;
   margin-bottom: 10px;
   margin-left: 0;
   padding: 15px;
   background-color: #e3f6fc;
   border-radius: 0 15px 15px 15px;
}

.message__content {
   display: flex;
   flex-flow: column nowrap;
}

.message_text {
   color: #52585d;
   font-size: 15px;
   line-height: 20px;
}

.message__time {
   display: block;
   margin-top: 5px;
   color: #c0cef1;
   font-size: 13px;
   text-align: right;
}
.block__date {
   display: inline-block !important;
   text-align: center;
}

.date__title {
   padding: 7px 35px;
   color: #fff !important;
   font-size: 13px;
   background-color: #6588de;
   border-radius: 15px;
}

html,
body {
   height: 100%;
   // width: 100%;
   margin: 0;
   overflow-x: hidden;
   font-family: "Inter";
}

.hidden {
   display: none;
}

i.settings {
   overflow: visible;
}

.fluid-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}

.block {
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
   margin: 10px 0;
}

.main {
   position: absolute;
   top: 0;
   right: 360px;
   bottom: 74px;
   left: 330px;
   z-index: 1000;
   display: flex;

   /* align-items: flex-end; */
   flex-direction: row;
   padding: 0;

   // background-color: #C0CEF1;

   transition: all 0.5s ease-out;
}

.main.right_sidebar__close {
   right: 0;

   .messager__menu {
      right: 0;
   }

   .info__wrapper {
      right: -360px;
      opacity: 0;
   }
}

.messager {
   // background-color: burlywood;
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   align-self: self-end;
   width: 100%;
   padding: 0 50px;
   // left: 330px;
   // right: 360px;
}

.messager__wrapper {
   display: flex;
   flex-flow: column nowrap;
   padding-bottom: 70px;

   /* padding-right: 50px;
    padding-left: 50px; */
}

/* .messager_scrollable {
    left: 330px;
    position: fixed;
    top: 0;
    bottom: 75px;
    right: 0;
    overflow-y: hidden;
  }
  .messager_scrollable:hover {
    z-index: 3999;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 75px;
    right: 0;
  } */

.messager__menu {
   position: fixed;
   right: 360px;
   bottom: 0;
   left: 330px;
   padding: 0 10px;
   background-color: #fff;
   transition: right 0.5s ease-out;
}
.input__wrapper {
   display: flex;
   flex-flow: row nowrap;
   padding: 20px;
}

.input__message {
   flex-grow: 1;
   margin: 0 10px;
   padding: 0 20px;
   border-color: $text-light-grey;
}

.info__wrapper {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-flow: column nowrap;
   min-width: 320px;
   max-width: 320px;
   margin: 40px 10px;
   padding: 20px;
   overflow-x: auto;
   background-color: #e3f6fc;
   border-radius: 20px;
   box-shadow: 0 0 20px 10px #cbdee46c;
   opacity: 1;
   transition: all 0.5s;
}

.button__close {
   display: inline;
   align-self: flex-start;
   padding: 1px 7px;
   color: $text-white;
   font-weight: lighter;
   font-size: 21px;
   line-height: 25px;
   background-color: $primary;
   border-radius: 25px;
}

.info__content {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   margin: auto 0;
   text-align: center;

   input {
      text-align: center;
   }
}

.avatar__info {
   width: 100px !important;
   height: 100px !important;
   margin: 10px auto !important;
   border: 4px solid !important;
}

.info__username {
   margin-bottom: 2px;
}
.info__displayname {
   margin: 5px 0;
   color: $text-grey;
   font-weight: 600;
   font-size: 13px;
   font-style: normal;
}

.info__actions {
   display: flex;
   flex-flow: column nowrap;
   margin: 20px 0;
}

.button__info {
   margin: 7px 0;
}

@mixin button_outline($color) {
   color: $color;
   background-color: transparent;
   border: 1px solid $color;
   transition: all 0.2s ease-out;

   &:hover {
      color: $color;
      background-color: rgba($color, 15%);
   }

   &:active {
      color: $text-white;
      background-color: lighten($color, 15%);
   }
}

.button_outline_primary {
   @include button_outline($primary);
}

.button_outline_danger {
   @include button_outline($danger);
}

@mixin button($color-main) {
   color: $text-white;
   background-color: $color-main;
   border: 1px solid $color-main;
   transition: all 0.2s ease-out;

   &:hover {
      color: $text-white;
      background-color: darken($color-main, 10%);
   }

   &:active {
      color: $text-white;
      background-color: darken($color-main, 20%);
   }
}

.button_primary {
   @include button($primary);
}

.input_group {
   display: flex;
   // flex-flow: row nowrap;
   flex-flow: column nowrap;
   // align-items: center;

   margin-bottom: 20px;

   label {
      margin-bottom: 3px;
      color: $primary;
      font-weight: bold;
      font-size: 15px;
      // margin-right: 10px;
   }

   input {
      flex-grow: 1;
   }
}

h1 {
   margin-bottom: 30px;
   color: $text-primary;
   font-size: 25px;
}
h2 {
   margin-bottom: 30px;
   color: $text-primary;
   font-size: 21px;
}
h3 {
   margin-bottom: 30px;
   color: $text-primary;
   font-size: 19px;
}
h4 {
   margin-bottom: 30px;
   color: $text-primary;
   font-size: 15px;
}

.text-primary {
   color: $text-primary;
}
.text-secondary {
   color: $text-secondary;
}
.text-danger {
   color: $text-danger;
}
.text-info {
   color: $text-info;
}
.text-grey {
   color: $text-grey;
}
.text-light-grey {
   color: $text-light-grey;
}
.text-white {
   color: $text-white;
}

.input_file {
   label {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px 15px;
      color: $text-light-grey;
      font-size: 14px !important;
   }

   .input-file {
      position: absolute;
      z-index: -1;
      width: 0.1px;
      height: 0.1px;
      overflow: hidden;
      opacity: 0;
   }

   .input-file + span.filename {
      display: inline-grid;
      width: 100%;
      margin: 10px;
      padding: 20px 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;

      .icon::before {
         content: "\f093";
      }
   }

   .file + span.filename.has-file {
      .icon::before {
         content: "\f00c";
         color: #5aac7b;
      }
   }
}

a {
   color: $text-primary;
   text-decoration: none;

   &:hover {
      color: $text-secondary;
   }
}

/** Default pages **/

.main__default {
   display: flex;
   flex-flow: row nowrap;
   align-content: stretch;
   width: 100%;
   height: 100%;
}

.main__wrapper {
   display: flex;
   flex-grow: 1;
   flex-flow: column;
   justify-content: center;
   text-align: center;
   background-color: #fff;
}

.default__right_sidebar {
   @extend .info__wrapper;

   position: relative;
   width: 360px;
   margin-right: 30px;
   background-color: $light;
}

.error_page__title {
   color: #fff;
   color: rgba(rgb(202, 202, 202), 0.1);
   font-weight: bold;
   font-size: 10rem;
   text-shadow: 0 2px 8px rgba(255, 255, 255, 1);
   background-color: rgba(#565656, 0.15);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
}

p {
   color: $text-grey;
}
