@import "../../styles/styles";
html,
body {
   width: 100%;
   height: 100%;
   margin: 0;
   overflow-x: hidden;
   font-family: $font-primary;
}

.hidden {
   display: none;
}

.fluid-container {
   display: flex;
   flex-direction: row;
   width: 100%;
}

.block {
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
   margin: 10px 0;
}

.scroll_style::-webkit-scrollbar-track {
   background-color: transparent;
   border-radius: 10px;
}

.scroll_style::-webkit-scrollbar {
   width: 6px;
   background-color: transparent;
}

.scroll_style::-webkit-scrollbar-thumb {
   background-color: $grey;
   border-radius: 10px;
}
