@import "/styles/_variables.scss";

.info__username {
    margin-bottom: 2px;
}

.info__displayname {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: $text-grey;
    margin: 5px 0;
}
