@import "../../styles/variables";

.messager {
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   align-self: self-end;
   width: 100%;
   padding: 0 50px;
}

.messager__wrapper {
   display: flex;
   flex-flow: column nowrap;
   padding-bottom: 70px;
}
