@import "../../../styles/variables";

.block__date {
   display: inline-block !important;
   margin: 20px 0 5px 0;
   text-align: center;
}

.date__title {
   padding: 5px 35px;
   color: $text-white;
   font-size: 13px;
   background-color: $primary;
   border-radius: 15px;
}

.block__message {
   // display: inline-block;
}

.block_foreign {
   .user__avatar {
      margin-right: 5px;
   }
}

.block_own {
   .block__username {
      text-align: right;
   }

   .block__user_messages {
      flex-direction: row-reverse;
   }

   .user__avatar {
      margin-left: 5px;
   }

   .block__messages {
      flex-direction: column-reverse;
   }

   .message__wrapper {
      margin-right: 0;
      margin-left: auto;
      background-color: $secondary !important;
      border-radius: 15px 0 15px 15px;
   }

   .message_text {
      color: $text-white;
   }

   .message__time {
      color: darken($secondary, 20%);
   }
}

.block__username {
   display: inline-block;
   width: 100%;
   margin-bottom: 5px;
   color: $text-grey;
   font-weight: 600;
   font-size: 13px;
   font-style: normal;
}

.block__user_messages {
   display: flex;
   flex-direction: row;
}

.block__messages {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   flex-wrap: nowrap;
}

.message__wrapper {
   display: inline-block;
   max-width: 75%;
   margin-right: auto;
   margin-bottom: 10px;
   margin-left: 0;
   padding: 15px;
   background-color: $light;
   border-radius: 0 15px 15px 15px;
}
.message__content {
   display: flex;
   flex-flow: column nowrap;
}
.message_text {
   color: $text-grey;
   font-size: 13px;
   line-height: 20px;
}
.message__time {
   display: block;
   margin-top: 5px;
   color: $info;
   font-size: 11px;
   text-align: right;
}
