@import "/styles/variables.scss";

.input {
    border: 1px solid $grey;
    border-radius: 12px;
    height: 30px;
    outline: none;
    color: $text-primary;
}
.input__search_chats {
    flex-grow: 1;
    margin: 20px, 10px !important;
    align-self: stretch;
    text-align: center;
}