@import "../styles/variables";
.input {
   height: 30px;
   padding: 0 15px;
   color: $grey;
   background-color: $backgraund_main;
   border: 1px solid $info;
   border-radius: 12px;
   outline: none;
   opacity: 0.8;
}

.input.invalid {
   background-color: $danger;
   border-color: $danger;
}
