.input {
   height: 30px;
   padding: 0 15px;
   color: #52585d;
   background-color: rgba(#fff, 0.8);
   border: 1px solid $info;
   border-radius: 12px;
   outline: none;
}

.input.invalid {
   background-color: lighten($danger, 50%);
   border-color: $danger;
}
