// Colors
$primary: #6588DE !default;
$secondary: #F3BA4A !default;
$light:#E3F6FC !default;
$grey: #B5C2CE !default;
$info: #C0CEF1 !default;
$hover: #D7ECF9 !default;
$success: #4af3c0 !default;
$danger: #e45579 !default;
$warning: orange !default;
$backgraund_main: #fff !default;

$text-primary: #52585D !default;
$text-secondary: #96A9BA !default;
$text-white: #fff !important;

$font-primary: "Inter";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: $font-primary;
}

.fluid-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left_sidebar {
    // display: flex;
    width: 330px !important;
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 0;
    flex-direction: column;
    // align-content: stretch;
}
.main {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 330px;
    bottom: 74px;
    padding: 0 50px;
}
.right_sidebar {
}


.account__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 310px;
    background-color: $light;
    border-radius: 0 0 20px 0;
    padding: 5px 10px 5px 10px  ;
    
}
.account__user {
    padding: 10px;

    &:hover{
        background-color: $light !important;
        transform: translate(0px) !important;
        cursor: default;
    }
}

.chats__user {
    padding: 10px;
}

.user__wrapper {
    display:flex;
    flex-flow: row nowrap;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;

    transition: background-color 0.5s ease-out, transform 0.5s ease-out;
    
    &:first {
        margin-top: 0;
    }

    &:hover{
        background-color: $hover;
        transform: translate(5px);
    }
}

.user__active {
    background-color: $primary;
    box-shadow: 3px 3px 10px 2px rgba(101, 136, 222, 0.51);
    cursor: default;

    &:hover{
        background-color: $primary;
        box-shadow: 3px 3px 10px 2px rgba(101, 136, 222, 0.51);
        transform: translate(0);
    }

    .user__displayname, .user__last_message, .last_message_date {
        color:$text-white
    }
}

img.user__avatar {
    width: 44px;
    height: 44px;
    border: 3px solid;
    border-radius: 50%;
}
.user__info {
    flex: 1;
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    max-width: 150px;
}
.user__displayname {
    flex:1;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: $text-primary;
    padding-top: 5px;
}
.user__last_message {
    flex:1;
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-secondary;

}
.user__actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 60px;
    text-align: right; 
}
.button {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 12px;
    padding: 0 20px;
}
.button__user_settings {
    background-color: transparent;
    color: $primary;
    margin-left: auto;
    padding: 3px 15px;
    border-radius: 10px;

    i{
        background-color: transparent;
    }
}
.last_message_date {
    font-size: 9px;
    font-weight: 300;
    line-height: 15px;
    color: $text-secondary;
    margin-top: auto;
    margin-bottom: auto;
}
.unread_messages_counter {
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    background-color: $secondary;
    margin-left: auto;
    margin-top: auto;
    color: $text-white;
    padding: 2px 7px;
    border-radius: 8px;
}

.chats__wrapper {
    flex-direction: column;
    align-content: stretch;
    background-color: $light;
    border-radius: 0 20px 0 0;
    margin-top: 10px;
}

.chats_scrollable {
    flex: 1;
    min-height: 50px;
    position: fixed;
    top: 80px;
    bottom: 75px;
    left: 0;
    overflow-y: hidden;


    &:hover {
        width: 330px;
        z-index: 3999;
        overflow-y: auto;
        position: fixed;
        top: 320;
        bottom: 75px;
        left: 0;
    }
}

/*
 *  STYLE 2
 */

 .scroll_style::-webkit-scrollbar-track
 {
     border-radius: 10px;
     background-color: transparent;
 }
 .scroll_style::-webkit-scrollbar
 {
     width: 6px;
     background-color: transparent;
 }
 .scroll_style::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: $grey;
 }

.chats {
    flex-direction: column;
    padding: 0 10px;
}


.chats__menu {
    background-color: $light;
    padding: 0 10px;
    border-top: 1px solid $grey;
    width: 310px;
    position: fixed;
    bottom: 0;

}
.search__wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-content: center;
}



.input {
    border: 1px solid $grey;
    border-radius: 12px;
    height: 30px;
    outline: none;
    color: $text-primary;
}
.input__search_chats {
    flex-grow: 1;
    margin: 20px, 10px !important;
    align-self: stretch;
    text-align: center;
}

.messager__wrapper {
    padding-right: 50px;
    padding-left: 50px;
}

.messager_scrollable {
    left: 330px;
    position: fixed;
    top: 0;
    bottom: 75px;
    right: 0;
    overflow-y: hidden;


    &:hover {
        // width: calc(100% - 330px);
        z-index: 3999;
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 75px;
        right: 0;
    }
}

.block {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 10px 0;
}
.block__date {
    display: inline-block;
    text-align: center;
}
.date__title {
    background-color: $primary;
    padding: 7px 35px;
    border-radius: 15px;
    font-size: 13px;
    color: $text-white;
}
.block__message {
    display: inline-block;
}
.block_foreign {
    .user__avatar{
        margin-right: 5px;
    }
}
.block_own {
    .block__username{
        text-align: right;
    }

    .block__user_messages{
        flex-direction: row-reverse;
    }

    .user__avatar{
        margin-left: 5px;
    }

    .message__wrapper{
        background-color: $secondary !important;
        border-radius: 15px 0 15px 15px;
        float: right;
    }

    .message_text{
        color: $text-white;
    }

    .message__time{
        color: $text-white;
    }
}
.block__username {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: $text-primary;
    margin-bottom: 5px;
}
.block__user_messages{
    display: flex;
    flex-direction: row;
}
.block__avatar {

}
.block__messages {
    flex-grow: 1;
}
.message__wrapper {
    display: inline-block;
    max-width: 75%;
    background-color: $light;
    border-radius: 0 15px 15px 15px;
    margin-bottom: 10px;
    padding: 15px;
}
.message__content {
    display: flex;
    flex-flow: column nowrap;
}
.message_text {
    font-size: 15px;
    line-height: 20px;
    color: $text-primary;
}
.message__time {
    display: block;
    text-align: right;
    color: $info;
    font-size: 13px;
    margin-top: 5px;
}
.messager__menu {
    // background-color: $backgraund_main;
    background-color: transparent;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 330px;
}
.messager__form {
}
.input__wrapper {
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
}
.button__attach {
    color: $primary;
    background-color: transparent;
    padding-right: 5px;
}
.input__message {
    flex-grow: 1;
    margin: 0 10px;
    padding: 0 20px;
}
.button__submit {
    background-color: $primary;
    color: $text-white;
    font-size: 13px;
    font-weight: 700;
    padding: 0 30px;

}
