// Colors
$primary: #6588DE !default;
$secondary: #F3BA4A !default;
$light:#E3F6FC !default;
$grey: #B5C2CE !default;
$info: #C0CEF1 !default;
$hover: #D7ECF9 !default;
$success: #4af3c0 !default;
$danger: #e45579 !default;
$warning: orange !default;
$backgraund_main: #fff !default;

// Text colors
$text-primary: #52585D !default;
$text-secondary: #96A9BA !default;
$text-white: #fff !important;

// Fonts
$font-primary: "Inter";