@import "/../styles/_variables.scss";

.button {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 7px 20px;

    &:focus {
        outline: 1px solid;
    }
}

@mixin button($color) {
    background-color: $color;
    border: 1px solid $color;
    color: $text-white;

    &:hover {
        background-color: darken($color, 10%);
        color: $text-white;
    }

    &:active {
        background-color: darken($color, 20%);
        color: $text-white;
    }

    transition: all 0.2s ease-out;
}

.button_primary {
    @include button($primary);
}

@mixin button_outline($color) {
    background-color: transparent;
    border: 1px solid $color;
    color: $color;

    &:hover {
        background-color: rgba($color, 15%);
        color: $color;
    }

    &:active {
        background-color: lighten($color, 15%);
        color: $text-white;
    }

    transition: all 0.2s ease-out;
}

.button_outline_primary {
    @include button_outline($primary);
}

.button_outline_danger {
    @include button_outline($danger);
}

@mixin button_empty($color) {
    background-color: transparent !important;
    padding: 0;
    border: none !important;
    color: $color;

    &:hover {
        color: darken($color, 10%);
    }

    &:active {
        color: darken($color, 20%);
    }

    transition: all 0.2s ease-out;
}

.button_empty_primary {
    @include button_empty($primary);
}

.button_empty_danger {
    @include button_empty($danger);
}

.button__user_settings {
    background-color: transparent;
    color: $primary;
    margin-left: auto;
    padding: 3px 15px;
    border-radius: 10px;
    height: 25px;
    width: 25px;
}

.button__attach {
    color: $primary;
    background-color: transparent;
    padding-right: 5px;
}

.button__submit {
    background-color: $primary;
    color: $text-white;
    font-size: 13px;
    font-weight: 700;
    padding: 0 30px;
}
