@import "/../styles/variables.scss";

.button {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 12px;
    padding: 0 20px;
}
.button__user_settings {
    background-color: transparent;
    color: $primary;
    margin-left: auto;
    padding: 3px 15px;
    border-radius: 10px;

    i{
        background-color: transparent;
    }
}

.button__attach {
    color: $primary;
    background-color: transparent;
    padding-right: 5px;
}

.button__submit {
    background-color: $primary;
    color: $text-white;
    font-size: 13px;
    font-weight: 700;
    padding: 0 30px;
}